#banner {
    box-sizing: content-box;
    background-color: rgba(68, 68, 68,255);
    height: 10.8vh;
    width: 100%;
    padding: 40px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
#footer {
    box-sizing: border-box;
    background-color: rgba(68,68,68,255);
    height: 10vh;
    width: 80vw;
    bottom: 0px;
    left: 10vw;
    position: absolute;
}
#rightMargin {
    height:80vh;
    width:10vw;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(216,216,216,255);
}
#leftMargin {
    height:80vh;
    width:10vw;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(216,216,216,255);
}
