#border {
    box-sizing: content-box;
    border-color: black;
    border-style: solid;
    background-color: white;
    height: 25vh;
    width: 95vw;
    left: 2.5vw;
    top:2.5;
    position: absolute;
}

#purple {
    background-color: rgba(138,43,226,255);
    width: 6vw;
    height: 15vh;
    left: 4.5vw;
    top: 10vh;
    position: absolute;
}

#green {
    background-color: green;
    width: 40vw;
    height: 21vh;
    left: 15vw;
    top: 3.5vh;
    position: absolute;
}

#blue {
    background-color: rgba(135, 206, 235, 255);
    width: 18vw;
    height: 21vh;
    left: 60vw;
    top: 3.5vh;
    position: absolute;
    border-radius: 15vw;
}

#dots {
    border-style: dotted;
    border-color: black;
    height: 30vh;
    width: 95vw;
    left: 2.5vw;
    position: absolute;
    top: 30vh;
}

#tan-shadow {
    box-shadow: 10px 10px 10px rgb(88, 88, 88);
    background-color: rgb(255,250,205,255);
    width: 80vw;
    height:24vh;
    left: 10vw;
    position: absolute;
    top: 33.5vh;

}

#shadow {
    box-shadow: 10px 10px 10px rgb(197, 197, 197);
    background-color: white;
    border-style:solid;
    border-color: rgb(230, 230, 230);
    width: 40vw;
    height: 30vh;
    left: 30vw;
    bottom: 2.5vh;
    position: absolute;
}

h1 {
    text-align: center;
    letter-spacing: 8px;
    font: Garamond;
    color: rgb(34,20,129,255);
    position: absolute;
    left: 42vw;
    bottom: 12vh;
}